<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👀</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/HD_transparent_picture.png/1280px-HD_transparent_picture.png"
        type="image/png">
    <link rel="stylesheet" href="src/style/style.css">
</head>

<body class="body">
    <h1>Iniciar!</h1>
    <a href="selectProf/index.html">
        <i class="bi bi-arrow-right-circle-fill"></i>
    </a>


</body>

</html>