<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fulano</title>
    <link rel="stylesheet" href="../src/style/style.css">
    <style>
       
    </style>
</head>

<body>
    <!-- introdução -->
    <div class="container introducao">
        <h1>Lorem ipsum</h1>
    </div>
    
    <!-- dedicatoria -->
    <div class="container dedicatoria">
        <p>dedicatoria</p>
    </div>

    <!-- mistério -->
    <div class="container misterio">
        <h1>Lorem ipsum dolor sit amet consectetu...</h1>
    </div>

    <!-- convite -->
    <div class="container convite">
        <h1>lorem impsun dolor?</h1>
    </div>

    <!-- sim ou não -->
    <div class="container decisao">
        <button class="positivo">SIM</button>
        <button class="negativo">não</button>
    </div>

    <script>
        // Se você preferir, também pode usar JavaScript para adicionar estilos dinamicamente
        document.querySelector('.negativo').addEventListener('mouseenter', function () {
            // Defina as posições x e y para que o botão se mova aleatoriamente
            var randomX = Math.random() * (window.innerWidth - this.offsetWidth);
            var randomY = Math.random() * (window.innerHeight - this.offsetHeight);
            this.style.position = 'absolute';
            this.style.left = randomX + 'px';
            this.style.top = randomY + 'px';
        });
    </script>
</body>

</html>