<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fulano</title>
    <link rel="stylesheet" href="../src/style/style.css">
    <style>

    </style>
</head>

<body>
    <!-- introdução -->
    <div class="container introducao" id="elemento1">
        <h1>Mauro</h1>
    </div>

    <!-- dedicatoria -->
    <div class="container dedicatoria" id="elemento2">
        <p>

            DEDICATORIA AQUI</p>
    </div>

    <!-- mistério -->
    <div class="container misterio" id="elemento3">
        <h1>é com honra que <br> gostariamos de te
            <br>convidar para...</h1>
    </div>

    <!-- convite -->
    <div class="container convite" id="elemento4">
        <h1>ser nosso paraninfo</h1>
    </div>

    <!-- sim ou não -->
    <div class="container decisao" id="elemento5">

        <h1>ACEITa?</h1>
        <div>
            <button class="positivo">SIM</button>
            <button class="negativo">não</button>
        </div>
    </div>

    <script src="../src/script/script.js"></script>
</body>

</html>