<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fulano</title>
    <link rel="stylesheet" href="../src/style/style.css">
    <style>

    </style>
</head>

<body>
    <main style="background-color: #f5f2dc;">
        <!-- introdução -->
        <div id="elemento2">
            <div class="container introducao" id="elemento1">
                <h1 id="h1_ele1">Mauro</h1>
            </div>

            <!-- dedicatoria -->
            <div class="container dedicatoria">
                <p>
                    Gostaríamos de aproveitar este momento especial para expressar nossa imensa gratidão a você.
                    <br>
                    <br>
                    Desde o primeiro dia, você esteve conosco, não apenas como nosso professor, mas como um verdadeiro
                    companheiro de jornada. Você acompanhou cada aluno de perto, ajudando-nos a desenvolver nossas
                    habilidades. Sempre presente, você nos apoiou, incentivou, ofereceu novas oportunidades e nos ajudou
                    quando mais precisávamos.
                    <br><br>
                    Você é um cara top, muito gente boa e sereno. Sua maneira de ensinar torna o aprendizado uma
                    experiência
                    agradável e enriquecedora. Sua presença tranquila e amigável faz toda a diferença em nossa jornada
                    acadêmica.
                    <br><br>
                    Somos profundamente gratos por seus ensinamentos e por sua amizade. Durante toda essa trajetória,
                    conhecemos um professor criativo e inteligente, que sempre esteve ao nosso lado como um verdadeiro
                    amigo.
                    <br><br>
                    Portanto, queremos agradecer imensamente por acreditar em nós, por nos guiar e por ser um exemplo a
                    ser
                    seguido. Você é incrível, e levaremos seus ensinamentos para sempre em nossas vidas.
                    <br><br>
                    Com eterna gratidão,
                </p>
            </div>
        </div>


        <!-- mistério -->
        <div class="container misterio" id="elemento3">
            <h1>é com honra que <br> gostariamos de te
                <br>convidar para...
            </h1>
        </div>

        <!-- convite -->
        <div class="container convite" id="elemento4">
            <h1>ser nosso paraninfo!</h1>
        </div>

        <!-- sim ou não -->
        <div class="container decisao" id="elemento5">

            <h1>ACEITa?</h1>
            <div>
                <button class="positivo">SIM</button>
                <button class="negativo">não</button>
            </div>
        </div>

        <script src="../src/script/script.js"></script>
    </main>
</body>

</html>